
.also__card-left,.also__card-right{
  position: relative;
}

.also__card-left img,.also__card-right img{
  width: 100%;
  height: auto;
}

.also__card-text{
  background-color: <%= colors["Background"].color %>;
  position: absolute;
  width: 70%;
}

.also__card-left .also__card-text{
  max-width: 300px;
  
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.also__card-right .also__card-text{
  max-width:420px;
  right: 0;
  bottom: 0;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .also {
    padding-bottom: 0;
   }
 
   .also .column_100_100_50_50_50:first-child{
     padding-bottom: 30px;
   }

  .also__card-left .also__card-text{
    top: auto;
    bottom: 0;
    left: 0;
    max-width: 160px;
    transform: unset;
  }

  .also__card-text{
    width: 80%;
  }

  .also__card-right .spacer-75{
    padding-top: 165px;
  }

  .also__card-left{
    padding-bottom: 20px;
  }

  .also {
    padding-bottom: 80px;
  }

  .also .spacer-100{
    padding-top: 0;
  }
}