.article-hero {
  background: <%= colors["Surface"]["2"].color %>;
}

.article-info__image img{
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.article-info table{
  width: 100%;
  border: 1px solid <%= colors["Border"].color %>;
  border-spacing: 0px;
}

.article-info td{
  width: 50%;
}

.article-info th{
  background: <%= colors["Gray"]["400"].color %>;
}

.article-info tr td,
.article-info th{
  border-bottom: 1px solid <%= colors["Border"].color %>;
}

.article-info tr td:first-child{
  border-right: 1px solid <%= colors["Border"].color %>;
}

.article__price-block > div:first-child{
  padding-right: 5px;
}

.article__price-block > div:last-child{
  padding-left: 5px;
}

.article-gallery_image {
  width: auto;
  float: none;
  break-inside: avoid;
}

.article-gallery_image img{
  width: 100%;
  height: auto;
}

.article-image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  display: block;
}

.article-time{
  display: block;
}

.article-footer{
  border-top: 1px solid <%= colors["Gray"]["300"].color %>;
  border-bottom: 1px solid <%= colors["Gray"]["300"].color %>;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .acrticle-footer_tags, .article-footer_socials{
    width: 100%;
  }

  .article__price-block>div:first-child, .article__price-block>div:last-child{
    padding: 0;
  }
}