

.card-big{
  color: <%= colors["On Background"].color %>;
  position: relative;
  width: 100%;
}

.card-big img{
  width: 100%;
  height: auto;
  display: block;
}

.card-big:hover{
  background: none;
}

.card-big:hover h2{
  text-decoration: underline;
}

.card-big img{
  display: block;
}

.card-big_breed{
  position: absolute;
  right: 0;
  top: 0;
}

.card-big_breed p{
  padding: 5px 10px;
  border-radius: 4px;
  backdrop-filter: blur(8px);
  background: rgba(<%= colors["Gray"]["400 (0.8)"].color %>, 0.85);
  color: <%= colors["Gray"]["500"].color %>;
}

.card-big__info-block{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.card-big__info-block > div{
  padding: 6px;
  background: rgba(<%= colors["Gray"]["400 (0.8)"].color %>, 0.85);
  backdrop-filter: blur(8px);
  border-radius: 0px 0px 4px 4px;
}