.card{
  height: 100%;
  box-sizing: border-box;
}

.card a{
  display: block;
  height: 100%;
  text-decoration: none;
  color: <%= colors["On Background"].color %>;
}

.card_container{
  border-radius: 4px;
  border: 1px solid <%= colors["Gray"]["300"].color %>;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.card_container img{
  width: 100%;
  height: auto;
}

.card_time{
  display: block;
  margin: 0 auto;
  margin-top: -32px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.card_time p{
  display: inline-block;
  border-radius: 4px;
  background: <%= colors["Gray"]["300"].color %>;
  padding: 5px 10px;
}

.card:hover{
  background: none;
}

.card:hover a{
  background: 0;
}

.card:hover h2{
  text-decoration: underline;
}