.contact-us__container{
  background-color: <%= colors["Gray"]["400"].color %>;
  border-radius: 4px;
}

.contact-us__container .responsive-blocks-container{
  max-width: 1000px;
  margin: 0 auto;
}

.contact-us_page .contact-us__container{
  background: <%= colors["Background"].color %>;
}

.contact-us_page{
  margin-top: -60px;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .contact-us .spacer-90{
    padding-top: 0;
  }
}

.contact-us_container {
  background-color: #f8f8f8;
  border-radius: 4px;
}

