.contact-form textarea{
  height: 130px;
}

.contact-form .responsive-blocks-container>div:first-child{
  padding-right: 10px;
  box-sizing: border-box;
}

.contact-form .responsive-blocks-container>div:last-child{
  padding-left: 10px;
  box-sizing: border-box;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .contact-form .responsive-blocks-container>div:first-child{
    padding-right: 0px;
  }
  
  .contact-form .responsive-blocks-container>div:last-child{
    padding-left: 0px;
  }
}
