.delivery-block{
  border: 1px solid <%= colors["Gray"]["300"].color %>;
  position: relative;
  padding: 20px;
}

.delivery_image img{
  display: block;
  margin: 0 auto;
}

.delivery_image-num{
  position: absolute;
  right: 20px;
  top: 47px;
  border: 1px solid <%= colors["Gray"]["300"].color %>;
  color: <%= colors["On Background"].color %>;
  font-weight: bold;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  box-sizing: border-box;
}

.delivery_image-num::after{
  position: absolute;
  content: url("/img/delivery-arrow.svg");
  top: 10px;
  left: 52px;
}

.delivery_container > div:last-child .delivery_image-num::after{
  display: none;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .delivery_container .delivery_image-num::after{
    display: none;
  }

  .how-it-works_image-num, .delivery_image-num{
    line-height: 23px;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .delivery .spacer-80{
    padding-top: 40px;
  }
}