.fact {
  margin: 0;
}

.fact__container{
  max-width: <%= responsive.GAP *2 + 945 %>px;
  width: 100%;
  padding: 35px <%= responsive.GAP *2 %>px 14px <%= responsive.GAP *2 + 35 %>px;
  position: relative;
  box-sizing: border-box;
}

.fact__icon{
  position: absolute;
  left: <%= responsive.GAP *2%>px;
  top: 0px;
}

.fact__inner{
  padding: 30px;
  border-radius: 4px;
  background: <%= colors["Gray"]["400"].color %>;
}

.fact cite {
  display: block;
  font-style: normal;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .fact__container{
    padding: 35px 20px 14px 20px;
  }

  .fact__icon img{
    width: 64px;
    height: 64px;
  }

  .fact__icon{
    left: 7px;
    top: 20px;
  }
}