@supports (display: flex) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main {
    flex-grow: 1;
  }
}

.footer {
  background-color: <%= colors["Surface"]["1"].color %>;
  color: <%= colors["On Surface"]["1"].color %>;
}

.footer__list {
  margin: 0;
  padding: 0px 0;
  list-style: none;
}

.footer__list li {
  padding: 0 16px;
}

.footer__link{
  color: <%= colors["On Surface"]["1"].color %>;
  display: inline;
}

.footer__link a{
  word-break: break-all;
}

.footer__link:hover {
  color: <%= colors.Primary["300"].color %>;
  background: 0
}

.footer__link:active {
  color: <%= colors.Primary["300"].color %>;
}

.footer__link:focus{
  outline: 1px solid <%= colors.Primary["300"].color %>;
  background: 0
}

.footer__link:focus:not(:focus-visible) {
  outline: none;
}

.footer__heading{
  padding-bottom: 20px;
  position: relative;
}

.footer__heading::after{
  content: "";
  width: 30px;
  height: 2px;
  background: <%= colors.Primary["300"].color %>;
  position: absolute;
  left: 10px;
  bottom: 10px
}

.footer__column{
  position: relative;
  padding-left: 10px;
  box-sizing: border-box;
  float: left;
}

.footer__column::after{
  content: "";
  position: absolute;
  left: 0;
  height: 70.26%;
  width: 1px;
  top: 64px;
  background: <%= colors["Gray"]["500"].color %>;
}

.footer__column:first-child{
  padding-left: 0;
}

.footer__column:first-child:after{
  display: none;
}

.footer-separator{
  position: relative;
  height: 1px;
  background: <%= colors["Gray"]["500"].color %>;
}

.footer-separator::after, .footer-separator::before{
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  left: 0;
  top: 0;
  background: <%= colors["Surface"]["1"].color %>;
}

.footer-separator::before{
  left: auto;
  right: 0;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .footer .responsive-blocks-container {
    width: 90%;
    margin: 0 auto;
  }

  .footer__column{
    padding: 0;
  }
  
  .footer__column::after{
    display: none;
  }
  
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .footer .container {
    width: 70%;
    text-align: center;
  }

  .footer__heading::after{
    display: none;
  }

  .footer__heading{
    padding-bottom: <%= responsive.GAP %>px;
  }

  .footer-separator{
    display: none;
  }

  .footer__column{
    padding-bottom: 10px;
    border-bottom: 1px solid <%= colors["Gray"]["500"].color %>;
  }
  
  .footer__column::after{
    display: none;
  }

  .footer__social-links{
    margin: 0 auto;
  }

  .footer__bottom{
    display: block;
    text-align: center;
  }

  .copyright, .footer__social-links{
    float: none;
    display: inline-block;
  }
}