.hero-content_text{
  text-align: right;
}


@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .hero_content-wrapper{
    flex-direction: column-reverse;
  }

  .hero-content_text{
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-content_text .spacer-20{
    padding-top: 0;
  }

  .hero-content_image{
    margin-bottom: 20px;
  }
}