.how-it-works_wrapper{
  background: <%= colors["Gray"]["400"].color %>;
}

.how-it-works_container > div:nth-child(2){
  position: relative;
}

.how-it-works_container > div:nth-child(2)::after,
.how-it-works_container > div:nth-child(2)::before{
  position: absolute;
  content: url("");
  width: 32%;
  height: 32px;
  top: 94px;
}

.how-it-works_container > div:nth-child(2)::after{
  background: url("/img/how-it-works_arrow-right.svg") no-repeat;
  background-size: contain;
  left: 85%;
}

.how-it-works_container > div:nth-child(2)::before{
  background: url("/img/how-it-works_arrow-left.svg") no-repeat;
  background-size: contain;
  right: 85%;
}

.how-it-works_image{
  position: relative;
}

.how-it-works_image-num{
  position: absolute;
  right: -15px;
  top: -15px;
  color: <%= colors["On Surface"]["1"].color %>;
  background: <%= colors.Primary["300"].color %>;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  font-weight: 700;
  line-height: 24px;
  box-sizing: border-box;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .how-it-works_container > div:nth-child(2){
    position: relative;
    padding: 50px 0;
  }
  
  .how-it-works_container > div:nth-child(2)::after,
  .how-it-works_container > div:nth-child(2)::before{
    display: none;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .how-it-works_wrapper .spacer-90{
    padding-top: 60px;
  }
}