.glide__slide > div{
    width: 100%;
}

.no-glide .glide__slide{
    float: left;
    width: 30%;
}

.storefront-new{
    display: inline;
}

.how-it-works_image-num, .delivery_image-num{
    width: 30px;
    height: 25px;
}

.pagination-card__button .text-right{
    width: 100%;
}