.column_100_50_25_25_25{
    width: 24%;
}

.column_100_90_66_66_66{
    width: 65%;
}

.column_100_50_50_50_50{
    width: 49%;
}

.column_100_100_50_50_50{
    width: 49%;
}

.column_100_33_33_33_33, .column_100_100_33_33_33{
    width: 32%;
}

.column_54_54_54_54_54{
    width: 54%;
}

.column_100_50_33_33_33{
    width: 32%;
}


.button span{
    padding: 13px 16px;
}

.button span, .button:hover span{
    background-image: none;
}

.card-big__info-block > div, .card-big_breed p{
    background: rgb(248, 248, 248);
}

.gray-label{
    display: inline;
}