---
  permalink: css/index-store.css
---

.index-store__label {
  background-color: <%= colors.Brown.color %>;
  font-weight: 700;
  color: #FFFFFF;
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.brown {
  color: <%= colors.Brown.color %>;
}

.index-store__card--1 .border {
  margin-right: 12px;
  padding-right: 22px;
  border-right: 1px solid <%= colors.Gray["400"].color %>;
}

@supports (column-count: auto) {
  .masonry-grid {
    display: block;
    columns: 2 auto;
    column-gap: 0;
  }

  .masonry-grid__item  {
    width: auto;
    float: none;
    break-inside: avoid;  
  }

  .index-store__card {
    position: relative;
  }

  .index-store__card--2 img {
    width: 81.35%;
    margin-left: auto;
  }

  .index-store__card--3 img,
  .index-store__card--4 img,
  .index-store__card--5 img,
  .index-store__card--6 {
    width: 81.35%;
    margin-right: auto;
  }

  
  .index-store__card--2 .index-store__textblock {
    position: absolute;
    top: 60px;
    left: 0;
  }

  .index-store__card--3 .index-store__textblock {
    position: absolute;
    top: 60px;
    right: 0;
  }

  .index-store__card--4 .index-store__textblock {
    position: absolute;
    top: 60px;
    left: 185px;
  }

  @media (max-width: 840px) {
    .masonry-grid {
      display: flex;
      flex-direction: column;
    }

    .index-store__card--2 img,
    .index-store__card--3 img,
    .index-store__card--4 img,
    .index-store__card--5 img,
    .index-store__card--6 {
      width: 100%;
      margin: 0 auto;
    }

    .masonry-grid__item {
      padding-bottom: 20px;
    }

    .masonry-grid__item--1 {
      order: 1;
      padding-bottom: 20px;
    }

    .masonry-grid__item--4 {
      order: 2;
    }

    .masonry-grid__item--2 {
      order: 3;
    }

    .masonry-grid__item--5 {
      order: 4;
    }

    .masonry-grid__item--6 {
      order: 5;
    }

    .masonry-grid__item--3 {
      order: 6;
    }

    .index-store__card--1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .index-store__card--1 .border {
      margin-right: 0;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-left: 10px;
      border-right: none;
      border-bottom: 1px solid <%= colors.Gray["400"].color %>;
    }

    .index-store__card--1 .h3 {
      padding-top: 0;
    }

    .index-store__card--2,
    .index-store__card--3 {
      padding-bottom: 70px;
    }

    .index-store__card--4 {
      padding-bottom: 40px;
    }

    .index-store__card--2 .index-store__textblock {
      position: static;
    }

    .index-store__card--2 .index-store__text {
      width: 80%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .index-store__link-container {
      position: absolute;
      display: block;
      width: 100%;
      float: none;
      box-sizing: border-box;
    }

    .index-store__link-container {
      display: block;
      width: 100%;
    }

    .index-store__card--3 .index-store__textblock {
      position: static;
    }

    .index-store__card--3 .index-store__text {
      width: 48.33333%;
      position: absolute;
      top: 0;
      right: 0;
    }

    .index-store__card--4 .index-store__textblock {
      position: static;
    }

    .index-store__card--4 .index-store__text {
      width: 70%;
      position: absolute;
      top: 10px;
      right: 50%;
      transform: translateX(50%);
    }
  }
}