.lined-header {
  position: relative;
  padding: 0 210px;
}

.lined-header::after, .lined-header::before{
  content: "";
  position: absolute;
  top: 50%;
  width: 180px;
  height: 10px;
  transform: translateY(-50%);
}

.lined-header::after{
  background: url(/img/lined-left.svg);
  background-size: contain;
  left: 0;
}

.lined-header::before{
  background: url(/img/lined-right.svg);
  background-size: contain;
  right: 0;
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .lined-header::after, .lined-header::before{
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 10px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }
  
  .lined-header{
    position: relative;
    padding: 0 110px;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .lined-header::after, .lined-header::before{
    display: none;
  }

  .lined-header{
    padding: <%= responsive.GAP %>px;
  }
}