.main-hero_price{
  display: inline-block;
}

.main-hero .container{
  padding-top: 0;
  padding-bottom: 0;
}
@supports (display: flex) {
  .main-hero_price{
    display: flex;
  }
}

.main-hero_price > div{
  float: left;
}

.main-hero_price > div:first-child{
  margin-right: 40px;
}

@media (max-width: <%= responsive.MEDIA.laptop - 1 %>px) {
  .main-hero_price > div:first-child {
    margin-right: 0px;
  }
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .main-hero .container{
    padding-top: <%= responsive.GAP %>px;
    padding-bottom: <%= responsive.GAP %>px;
  }

  .main-hero_price > div{
    float:none;
    margin: 0 auto;
  }

  .main-hero_price > div:first-child{
    margin-right: auto;
  }

  .main-hero_price{
    flex-direction: column;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .main-hero_image-wrapper, .main-hero_image-wrapper>div {
    width: 100%;
    box-sizing: border-box;
  }
}