/* containers */

.header__container {
  padding: <%= responsive.GAP %>px; /* must be equal to .main-menu__link padding */
}

/* logo */

.header__logo {
  position: absolute;
  top: 11px; /* .header__container padding not calculated */
  left: <%= responsive.GAP %>px;
}

.logo a {
  display: block;
  padding: <%= responsive.GAP %>px;
}

.logo a img {
  display: block; /* normalize geometry img inside a */
}

/* main-menu */

.header__main-menu-container {
  margin: 0 72px 0 110px; /* spaces for absolutely positioned logo/socials. */
}

.main-menu {
  margin: 0;
  padding: <%= responsive.GAP %>px 0;
}

.main-menu__item {
  padding: 0 <%= responsive.GAP %>px;
  display: block;
  float: left;
}

.main-menu__link {
  white-space: nowrap;
}

/* social */

.header__social-links { /* TODO maybe rename to social links */
  position: absolute;
  top: 11px;
  right: <%= responsive.GAP %>px; 
  padding: 0px;
}

.main-menu:before,
.main-menu:after,
.header__social-links:before,
.header__social-links:after { 
  content: "";
  display: table; 
}

.header__social-links:after,
.main-menu:after {
  clear: both; 
}

.header__social-links,
.main-menu { 
  zoom: 1; 
}

.social-links__item {
  float: left;
}

.social-links__link {
  display: block;
  padding: <%= responsive.GAP %>px;
}

.social-links__link img {
    display: block;
}

.social-links,
.main-menu {
  list-style: none;
}

.header__main-menu-burger.burger { /* Burger is not needed if it is not a mobile version and javascript is not connected. */
  display: none;
}


.js .burger__button {  /* Button is already present too. */
  display: none; /* Here we put a display block for the button, otherwise, due to its default inline-block model, we will have 1 extra pixel from the parent. */
  width: 30px;
  height: 20px;
  padding: 3px;
  border: 0;
  background-image: url("../../img/menu/burger.png");
  background-position: center;
  background-size: 24px 14px;
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (max-width: <%= menu.breakpoint - 1 %>px) {
  .header__main-menu-container {
    /* margin top 8 + 20 + 8  must be equal to element with max height in header */
    margin: 36px 0 0 0;
  }

  .main-menu__item {
    display: block;
    float: none; /* Menu items will line up one above the other. */
  }

  .main-menu__link {
    display: block;
  }

  .js .header__main-menu-container { /* Logo with js is static, and margin is no needed anymore. */
    margin: 0;
  }

  .js .header__main-menu-burger.burger { /* Burger is not needed if it is not a mobile version and javascript is not connected. */
    display: block;
  }

  .js .burger { /* And here the burger is already present. */
    /* Coincidentally, the height of the button is equal to the height of the logo, and there is no need to center the button. But if it were not so, you need to add padding for the container. */
    position: absolute;
    top: <%= responsive.GAP %>px;
    left: <%= responsive.GAP %>px;
    padding: <%= responsive.GAP %>px;
  }

/* TODO: states for button. */

  .js .burger__button {  /* Button is already present too. */
    display: block; /* Here we put a display block for the button, otherwise, due to its default inline-block model, we will have 1 extra 
  }

  .js .burger__button .burger__button-row {
    display: none;
  }

  .js .burger__button--opened {
    background-image: url("../../img/menu/cross.jpg");
    background-position: center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
  }

  .js .header__logo {
    /* The button has appeared, and it has absolute positioning. To prevent the logo from running over the button, we will return static positioning to it. */
    position: static;
    display: block;
    width: 111px;
    height: 36px;
    margin: 0 auto;
  }

  .js .header__main-menu-container { /* Default class for menu (with js). */
    display: none;
  }

  .js .header__main-menu-container--opened { /* Class for opened menu. */
    display: block;
  }

  .js .header__social-links {
    top: <%= responsive.GAP %>px;
  }
}

@supports (display: flex) { /* https://developer.mozilla.org/en-US/docs/Web/CSS/@supports */
  .main-menu::before,
  .main-menu::after,
  .header__social-links::before,
  .header__social-links::after {
    content: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__main-menu-burger {
    display: none;
  }

  .header__main-menu-container {
    margin: 0;
  }

  .header__logo {
    position: static; /* The flex property works, and you can return the elements to their positioning. */
  }

  .header__social-links {
    position: static;
  }

  .main-menu {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: <%= menu.breakpoint - 1 %>px) {
    .header__container {
      flex-wrap: wrap; /* Let's allow the transfer of elements so that on a small screen they become one under the other. */
    }
    
    .header__main-menu-burger {
      box-sizing: border-box;
      width: 72px; /* The width of the burger container is equal to the width of the social media links. This will make aligning the flex parent work better. */
    }

    .js .header__main-menu-burger {
      position: static;
      order: 1; /* We change the arrangement of elements on the mobile version, and explicitly indicate the order to them. */
    }

    .header__logo {
      order: 2;
    }

    .header__social-links {
      order: 3;
    }

    .header__main-menu-container {
      width: 100%; /* The menu becomes a dropdown and is transferred to a new row. Should fill the entire screen width. */
      margin: 0;
      order: 4;
    }

    .main-menu {
      flex-direction: column;
    }
  }
}

.header__main-menu-container {
  margin-left: 170px; /* spaces for absolutely positioned logo/socials. */
}

.logo a{
  border-radius: 4px;
}

@supports (display: flex) {
  .header__main-menu-container {
    margin-left: 0px; /* spaces for absolutely positioned logo/socials. */
  }
  
}

.header{
  background: <%= colors["Surface"]["1"].color %>;
  padding-top: 17px;
  padding-bottom: 17px;
  border: 0;
}

.header__container {
  position: relative;
}

.main-menu__item{
  padding: 0 <%= responsive.GAP / 2 %>px;
}

.header__logo {
  top: 0;
}

.header__social-links {
  top: 1px;
  margin: 0;
}


.js .burger__button{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@media (max-width: <%= responsive.MEDIA.laptop - 1 %>px) {
  .js .header__logo {
    position: static;
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
  }

  .js .header__social-link, .js .burger.header__main-menu-burger{
    top: 0;
  }

  .header__logo{
    text-align: center;
  }

  .header__logo a{
    display: inline-block;
  }

  @supports (display: flex) {
    .header__logo a{
      display: block;
    }
  }
  
}

@media (max-width: <%= menu.breakpoint - 1%>px) {
  .js .header__main-menu-burger.burger {
    top: 10px;
  }

  .js .header__social-links {
    top: 10px;
  }
}

.header--dark {
  border-bottom: 0;
  background-color:<%= colors["Surface"]["2"].color %>;
}

.header__container {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}

.social-links__item {
  float: right;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .js .header__logo {
    width: 120px;
  }

  .js .header__logo img{
    width: 100%;
    height: auto;
  }

  .js .header__main-menu-burger.burger {
    top: 5px;
    padding: 5px;
  }

  .js .header__social-links {
    top: 5px;
  }

}

html {
  scroll-behavior: smooth;
}

.header--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

@media (max-width: <%= responsive.MEDIA.laptop - 1 %>px) {
  .header--sticky .header__main-menu-container--opened {
    overflow-y: auto;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .header__social-links .social-links__link{
    padding: 5px;
  }
}