
.pagination-card{
  border-radius: 6px;
  padding: 0;
  height: 100%;
}

.pagination-card:hover a{
  background: 0;
}

.pagination-card__text{
  padding-left: 30px;
  margin: auto 0;
}

.pagination-reversed .pagination-card__text{
  padding-right: 30px;
  padding-left: 10px;
}

.pagination-card__button img{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 1px;
}

.pagination-card__button .text-right{
  padding-right: 0;
}

.pagination-card__button .text-left{
  padding-left: 0;
}

.pagination-reversed .pagination-card__button img{
  margin-left: 10px;
  margin-right: 0;
}

.pagination-card a{
  color: <%= colors["On Background"].color %>;
}

@supports (display: flex) {
  .pagination-reversed .blocks-container{
      display: flex;
      flex-direction: row-reverse;
  }
}

.pagination-card a{
  text-decoration: none;
}

.pagination-card:hover h3{
  text-decoration: underline;
}

.pagination-card__image img{
  border-radius: 6px;
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .pagination-card__text{
    padding-left: 20px;
    margin: auto 0;
  }
  
  .pagination-reversed .pagination-card__text{
    padding-right: 20px;
    padding-left: 10px;
  }
}