.responsive-blocks-container { 
  zoom: 1; 
}

.responsive-blocks-container:before,
.responsive-blocks-container:after { 
  content: "";
  display: table; 
}

.responsive-blocks-container:after {
  clear: both; 
}

@supports (display: flex) {
  .responsive-blocks-container:before,
  .responsive-blocks-container:after {
    content: none;
  }
  .responsive-blocks-container {
    display: flex;
    flex-wrap: wrap;
  }
}

<% for(let i = 0; i < Object.keys(containers).length; i++) { %>
  <% if(i !== Object.keys(containers).length - 1) { %>.container-<%= Object.keys(containers)[i] %>,<% } else { %>.container-<%= Object.keys(containers)[i] %><% } %><% } %> {
    float: left;
  }
  
  <% for(let containerType in containers) { %><% for(let media in containers[containerType]) { %><% if(media == 'default') { %>
  .container-<%= containerType %> {
    width: <%= (containers[containerType][media]*100).toFixed(2) %>%;
  }<% } %><% if(media == 'phone') { %>
  @media (min-width: <%= responsive.MEDIA.phone %>px) {
    .container-<%= containerType %> {
      width: <%= (containers[containerType][media]*100).toFixed(2) %>%;
    }
  }<% } %><% if(media == 'tablet') { %>
  @media (min-width: <%= responsive.MEDIA.tablet %>px) {
    .container-<%= containerType %> {
      width: <%= (containers[containerType][media]*100).toFixed(2) %>%;
    }
  }<% } %><% if(media == 'laptop') { %>
  @media (min-width: <%= responsive.MEDIA.laptop %>px) {
    .container-<%= containerType %> {
      width: <%= (containers[containerType][media]*100).toFixed(2) %>%;
    }
  }<% } %><% if(media == 'desktop') { %>
  @media (min-width: <%= responsive.MEDIA.desktop %>px) {
    .container-<%= containerType %> {
      width: <%= (containers[containerType][media]*100).toFixed(2) %>%;
    }
  }<% } %>
    <% } %>
<% } %>

.y-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.y-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.y-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.x-top {
  display: flex;
  justify-content: flex-start;
}

.x-center {
  display: flex;
  justify-content: center;
}

.x-bottom {
  display: flex;
  justify-content: flex-end;
}

.blocks-center:before,
.blocks-center:after { 
  content: "";
  display: table; 
}

.blocks-center:after {
  clear: both; 
}

.blocks-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}

.blocks-center > * {
  float: left;
}

@supports (display: flex) {
  .blocks-center:before,
  .blocks-center:after { 
    content: none;
  }

  .blocks-center {
    display: flex;
    justify-content: center;
  }
}