.spacer {
  width: 100%;
}

.spacer-10{
  padding-top: 10px;
}

.spacer-20{
  padding-top: 20px;
}

.spacer-30{
  padding-top: 30px;
}

.spacer-40{
  padding-top: 40px;
}

.spacer-50{
  padding-top: 50px;
}

.spacer-60{
  padding-top: 60px;
}

.spacer-70{
  padding-top: 70px;
}

.spacer-75{
  padding-top: 75px;
}

.spacer-80{
  padding-top: 80px;
}

.spacer-90{
  padding-top: 90px;
}

.spacer-100{
  padding-top: 100px;
}
