.special_container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.special_continer-side_wrapper{
  position: relative;
  overflow: hidden;
  padding: 20px;
  min-height: 430px;
}

.special_continer-side_content{
  position: relative;
  z-index: 2;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
}


@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .special_continer-side_content.special{
    padding-bottom: 150px;
  }

  .special_continer-side_wrapper{
    min-height: 330px;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .special .spacer-80{
    padding-top: 40px;
  }

  .special_continer-side_wrapper{
    min-height: auto;
    padding-bottom: 40px;
  }
}