---
  permalink: css/style.css
---

body {
  overflow-x: hidden;
  display: block;
}

.price-block_price{
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.img-block-inside img{
  display: block;
}

.continer-side_content_subtitile{
  max-width: 335px;
  margin: 0 auto;
}

.gray-label{
  padding: 5px 10px;
  background-color: <%= colors["Brown"]["400"].color %>;
  display: inline-block;
  font-weight: bold;
  color: <%= colors["On Surface"]["1"].color %>;
}

@media (min-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .nowrap-tb{
    flex-wrap: nowrap;
  }
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .pl-border{
    padding-left: 0;
    position: relative;
    border: 0;
  }

  .pl-border::after{
    content: "";
    width: 118px;
    top: 0;
    left: 50%;
    height: 1px;
    transform: translate(-50%, -50%);
    background: <%= colors["Gray"]["300"].color %>;
    position: absolute;
  }
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .price-button-wrapper{
    margin: 0 auto;
  }

  .recently .spacer-40{
    padding-top: 0;
  }

  .recently{
    padding-bottom: 0px;
  }

  .post-spacer-1{
    padding-top: 0;
  }

  .post-spacer-2, .post-spacer-3{
    padding-top: 20px;
  }

  .want-more > div{
    width: 100%;
    box-sizing: border-box;
  }
}
