/* Simple button */

.button{
  box-sizing: border-box;
  border: 1px solid <%= colors["On Background"].color %>;
  background-color: transparent;
  text-align:center;
  padding: 0;
  transition: 0s;
  cursor: pointer;
}

.button span{
  cursor: pointer;
  padding: 13px 48px 13px 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  color: <%= colors["On Background"].color %>;
  font-weight: 700;
  background-image: url("/img/buttons/button-arrow-black.png");
  background-repeat: no-repeat;
  background-position: right 30px top 19px;
  transition: 0s;
}

.button:hover,
.hover .button{
  border: 1px solid  <%= colors.Primary["300"].color %>;
  background: <%= colors.Primary["300"].color %>;
}

.button:hover span,
.hover .button span{
  background: <%= colors.Primary["300"].color %>;
  color: <%= colors["On Surface"]["1"].color %>;
  background-image: url("/img/buttons/button-arrow-white.png");
  background-repeat: no-repeat;
  background-position: right 30px top 19px;
}

.button:active,
.active .button{
  border: 1px solid  <%= colors.Primary["300"].color %>;
}

.button:active span,
.active .button span {
  color: <%= colors["On Surface"]["1"].color %>;
  background-image: url("/img/buttons/button-arrow-white.png");
  background-repeat: no-repeat;
  background-position: right 30px top 19px;
  background-color: <%= colors.Primary["300"].color %>;
}

.button:focus,
.focus .button {
  outline: none;
  border: 1px solid <%= colors.Primary["300"].color %>;
  outline: 1px solid <%= colors.Primary["300"].color %>;
  outline-offset: 10px;
}

.button:focus:not(:focus-visible){
  border: 1px solid  <%= colors.Primary["300"].color %>;
}

.button:focus:not(:focus-visible) span{
  color: <%= colors["On Surface"]["1"].color %>;
  background-image: url("/img/buttons/button-arrow-white.png");
  background-repeat: no-repeat;
  background-position: right 30px top 19px;
  background-color: <%= colors.Primary["300"].color %>;
}

.button:focus-visible{
  border: 1px solid <%= colors["On Background"].color %>;
}

.button:focus-visible span{

  background-color: <%= colors["Background"].color %>;
  background-image: url("/img/buttons/button-arrow-black.png");
  background-repeat: no-repeat;
  background-position: right 30px top 19px;
  color: <%= colors["On Background"].color %>;
}

.button:disabled,
.button:disabled:hover,
.disabled .button {
  border: 1px solid <%= colors["Border"].color %>;
  background-color: transparent;
  cursor: default;
  background-image: url("/img/buttons/button-arrow-gray.png");
  background-repeat: no-repeat;
  background-position: right 30px top 19px;
  color: <%= colors["Border"].color %>;
}


/* Simple link */

a {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
  text-decoration-line: underline;
  color: <%= colors.Blue["300"].color %>;
}

a:hover,
.hover a {
  background: <%= colors.Primary["300"].color %>40;
}

a:active,
.active a {
  background: <%= colors.Blue["100"].color %>;
}

a:focus,
.focus a{
  outline: 1px solid <%= colors.Primary["300"].color %>40;
  background: <%= colors.Primary["300"].color %>40;
}

a:focus:not(:focus-visible) {
  outline: none;
  border-color: transparent;
}

/* Simple link */

.button-colored {
  padding: 10px 66px 9px 27px;
  border: 1px solid transparent;
  position: relative;
  color: <%= colors["On Surface"]["1"].color %>;
  border-radius: 4px;
  cursor: pointer;
}

.button-colored--green {
  background-color: <%= colors.Green.color %>;
}

.button-colored--blue {
  background-color: <%= colors.Blue["400"].color %>;
}

.button-colored:hover,
.hover .button-colored{
  opacity: .7;
}

.button-colored:active,
.active .button-colored{
  opacity: .5;
}

.button-colored img{
  position: absolute;
  right: 26px;
  top: 7px;
}

/* Form */

input, textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid <%= colors['Border'].color%>;
  resize: none;
}

input::placeholder, textarea::placeholder{
  color: <%= colors["Gray"]['500'].color%>;
  opacity: 1;
}

input:focus, textarea:focus,
.focus input, .focus textarea{
  border: 1px solid <%= colors.Primary["300"].color %>;
  outline: 0;
}

input:disabled, textarea:disabled,
.disabled input, .disabled textarea{
  background: none;
  opacity: .6;
}

.text-field__input{
  display: block;
}

.text-field__message{
  color: <%= colors["On Background"].color %>;
  display: block;
  font-size: 10px;
  line-height: 14px;
  padding: 5px 10px;
}

.text-field.error input, .text-field.error textarea,
.error .text-field input, .error .text-field textarea{
  border-color: <%= colors["Red"].color %>;
}

.text-field.error input:focus, .text-field.error textarea:focus,
.error .text-field input:focus, .error .text-field textarea:focus{
  outline: 2px solid <%= colors["Red"].color %>;
  border: 1px solid transparent;
}


/* Header social links */

.social-links__link{
  border-radius: 50%;
  
}

.social-links__link:hover,
.hover social-links__link{
  background: 0;
}

.social-links__link:hover img,
.hover .social-links__link:hover img {
  border-radius: 50%;
  transform: scale(1.1);
}

.pagination-link {
  width: 25px;
  height: 25px;
  text-align: center;
  text-decoration:none;
  background-color: <%= colors["Gray"]["300"].color %>;
  color: <%= colors["On Background"].color %>;
}

.pagination-link.current,
.current .pagination-link{
  background-color: <%= colors.Primary["300"].color %>;
  color: <%= colors["On Surface"]["1"].color %>;
  cursor: default;
}

.filter-link{
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: <%= responsive.GAP %>px;
  background: rgba(<%= colors["Gray"]["400 (0.8)"].color %>);
  color: <%= colors["Gray"]["500"].color %>;
  text-decoration: none; 
  text-transform: uppercase;
  font-weight: bold; 
}

.filter-link.current,
.current .filter-link{
  background-color: <%= colors.Primary["300"].color %>;
  color: <%= colors["On Surface"]["1"].color %>;
  cursor: default;
}


.main-menu__link a{
  word-break: break-all;
  display: inline;
}

.main-menu__link{
  color: <%= colors["On Surface"]["1"].color %>;
}

.main-menu__link:hover,
.hover .main-menu__link {
  color: <%= colors.Primary["300"].color %>;
  background: 0
}

.main-menu__link:active,
.active .main-menu__link {
  color: <%= colors.Primary["300"].color %>;
}

.main-menu__link:focus,
.focus .main-menu__link {
  outline: 1px solid <%= colors.Primary["300"].color %>;
  background: 0
}

.main-menu__link:focus:not(:focus-visible) {
  outline: none;
}

.main-menu__link--current,
.current .main-menu__link{
  color: <%= colors.Primary["300"].color %>;
}

@media (max-width: <%= responsive.MEDIA.phone - 1 %>px) {
  .button span{
    padding: 13px 41px 13px 16px;
  }

  .button{
    width: 100%;
  }

  .button span,
  .button:hover span,
  .button:active span,
  .button.active span,
  .button:focus:not(:focus-visible) span,
  .button:focus-visible span,
  .button:disabled,.button:disabled:hover span{
    background-position: right 20px top 19px;
  }
  
   
}