.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media (min-width: 0px) {
  .h-100-bb {
    height: 100%;
    box-sizing: border-box;
  } 
}

/* just for a parrent link for image - IE10 and lower make outline for images */

a img {
  border:none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}


.float-right {
  float: right;
}

.float-left {
  float: left;
}

.nowrap{
  flex-wrap: nowrap;
}

.dec-none{
  text-decoration: none;
}

.d-block{
  display: block;
}

.align-center{
  align-items: center;
}

.d-flex{
  display: flex;
}

.d-ib{
  display: inline-block;
}

.h-100{
  height: 100%;
}

.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}

.mt-auto{
  margin-top: auto;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.justify-between{
  justify-content: space-between;
}


.text-right{
  text-align: right;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.ml-auto{
  margin-left: auto;
}

.pa-0 {
  padding: 0;
}

.pb-0{
  padding-bottom: 0;
}

.pt-0{
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}


.bold{
  font-weight: 700;
}

.gray-500-color{
  color: <%= colors["Gray"]["500"].color %>;
}


.img-w-100 img{
  width: 100%;
  height: auto;
}

.red{
  color: <%= colors["Red"].color %>;
}

.w-100{
  width: 100%;
}

.pl-border{
  padding-left: <%= responsive.GAP %>px;
  border-left: 1px solid <%= colors["Gray"]["300"].color %>
}

.pr{
  padding-right: <%= responsive.GAP %>px;
}

.orange{
  color: <%= colors.Primary["300"].color %>;
}