.why-we{
  background-color: <%= colors.Primary["300"].color %>;
  color: <%= colors["On Surface"]["1"].color %>;
}

.why-we_separator{
  position: relative;
  padding: 10px;
  min-height: 47px;
  opacity: .5;
}

.why-we_separator::after{
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: <%= colors["On Surface"]["1"].color %>;
}

@supports (display: grid){
  .why-we_container{
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
  }
}

@media (max-width: <%= responsive.MEDIA.tablet - 1 %>px) {
  .why-we_separator{
    display: none;
  }

  @supports (display: grid){
    .why-we_container{
      grid-template-columns: 1fr;
    }
  }

  .why-we_item-container{
    text-align: center;
  }

  .why-we_item-container *{
    text-align: left;
  }

  .why-we_item-container{
    float: none;
  }

  .why-we_item{
    display: inline-block;
  }

  .why-we_item img{
    margin-top: 10px;
  }

  @supports (display: flex){
    .why-we_item{
      display: flex;
    }

    .why-we_item img{
      margin-top: 0px;
    }
  }

  .why-we_container .spacer-30{
    padding-top: 0px;
  }

  .why-we_item-container > div{
    width: 100%;
  }

  .why-we_item > div:first-child{
    width: 55px;
    box-sizing: border-box;
  }

  .why-we_item > div:last-child{
    max-width: 264px;
    width: 100%;
    box-sizing: border-box;
  }

  .why-we_item-container{
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
  }
}