---
  permalink: js/menu.js
---

var Menu = {
  RESPONSIVE_BREAKPOINT: <%= menu.breakpoint %>
};

(function(){
  if(window.supportsCSS('position', 'sticky') || window.supportsCSS('position', '-webkit-sticky')) {
    var stickyHeader = document.querySelector('.header');
    stickyHeader.classList.add('header--sticky');
    var mainMenuContainer = stickyHeader.querySelector('.header__main-menu-container');
    var burgerButton = stickyHeader.querySelector('.burger__button');
    var mainMenu = stickyHeader.querySelector('.main-menu');
    window.calcMenuHeight = function() {
      // If the device/browser has a small screen height, then the sticky header will cover the entire screen and some of the bottom links will not fit on the screen.
      // To see the bottom menu link, user will first have to scroll through the entire page. So, you need to add a scroll to the menu itself.

      mainMenuContainer.style.maxHeight = window.height() - (stickyHeader.offsetHeight - mainMenu.offsetHeight) + 'px';
    }

    window.calcMenuHeight();
    window.addEventListener('resize', window.calcMenuHeight);
  }
})();

(function() {
  if(document.addEventListener && window.isMediaQueriesSupported()) {
    var mainMenuContainer = document.querySelector('.header__main-menu-container');
    var burgerButtonContainer = document.querySelector('.header__main-menu-burger');
    var burgerButton = document.createElement('button');
    window.classFunction.addClass(burgerButton, 'burger__button');
    burgerButton.setAttribute('id', 'burger-button');
    burgerButton.setAttribute('aria-haspopup', 'true');
    burgerButton.setAttribute('aria-expanded', 'false');
    burgerButton.setAttribute('aria-label', 'Open menu');
    burgerButton.setAttribute('style', 'background-image: url("data:image/svg+xml;base64,<%- include("../img/buttons/burger-base64.svg.ejs"); %>");');
    burgerButtonContainer.appendChild(burgerButton);

    var firstLink = mainMenuContainer.querySelector('.main-menu__link');

    // TODO: chacge comment for aria atributes.
    function toggleDropdownMenu() {
      if(burgerButton.getAttribute('aria-expanded') === 'true') { // If menu is already opened (check 'aria-expanded' attribute).
        burgerButton.setAttribute('aria-expanded', 'false');
        burgerButton.setAttribute('aria-label', 'Open menu');
        burgerButton.setAttribute('style', 'background-image: url("data:image/svg+xml;base64,<%- include("../img/buttons/burger-base64.svg.ejs"); %>");');
        window.classFunction.removeClass(mainMenuContainer, 'header__main-menu-container--opened');
        document.removeEventListener('click', window.emptySpaceClick);
      } else {
        burgerButton.setAttribute('aria-expanded', 'true');
        burgerButton.setAttribute('aria-label', 'Close menu');
        burgerButton.setAttribute('style', 'background-image: url("data:image/svg+xml;base64,<%- include("../img/buttons/burger-opened-base64.svg.ejs"); %>");');
        window.classFunction.addClass(mainMenuContainer, 'header__main-menu-container--opened');
        document.addEventListener('click', window.emptySpaceClick);
      }
    };

    burgerButton.addEventListener('click', window.calcMenuHeight);
    burgerButton.addEventListener('click', toggleDropdownMenu);

    // We handle not only a click, but also pressing Enter/Space.
    burgerButton.addEventListener('keydown', function(event) {
      if(event.keyCode === Keycode.SPACE || event.keyCode === Keycode.ENTER) {
        event.preventDefault();
        toggleDropdownMenu();

        if(burgerButton.getAttribute('aria-expanded') === 'true') {
          firstLink.focus();
        } else {
          burgerButton.focus();
        }
      }

      if(event.keyCode === Keycode.ESC && burgerButton.getAttribute('aria-expanded') === 'true') {
        window.closeDropdownMainMenu();
      }
    });
  }
})();

<%- include("menu/anchor-links.js"); %>
<%- include("menu/close-dropdown-main-menu/close-dropdown-main-menu-base.js.ejs"); %>
<%- include("menu/empty-space-click.js"); %>
<%- include("menu/keyboard-support.js"); %>


