---
title: Oops! Not Found
permalink: 404.html
layout: base.njk
---

<div class="error-page">
    <section>
        {% max_width %}
        <div class="spacer spacer-100"></div>
        <h1 class="text-center">404 ERROR</h1>
        <p class="text-center">This page may have been moved</p>
        <div class="spacer spacer-50"></div>
        <h2>You may be interested in</h2>
        <div class="responsive-blocks-container">
            {%- assign lastThree = collections.cats | getLast: 3 %}
            {%- for post in lastThree -%}
            {% assign textDate = post.data.date | filterDate  %}
            {% container "100_50_33_33_33" %}

            {% assign alt = post.data.title | append : "`s photo" %}
            {% bigCard post.data.heroPhoto, alt, post.data.title, post.data.catInfo.sex, post.data.catInfo.date-of-birth, post.data.catInfo.breed, post.data.catPrice, post.url %}
            {% end_container %}
            {%- endfor -%}
        </div>
        <div class="spacer spacer-10"></div>
        <div class="want-more text-center">
            <div class="d-ib buffer">
                <a href="/gallery" class="button"><span>More Cats</span></a>
            </div>
        </div>
        <div class="spacer spacer-90"></div>
        {% end_max_width %}
    </section>
</div>

