---
  permalink: css/design-system/assets.css
---

.assets-block--light .assets-block__inner  {
  border: 1px solid <%= colors["On Surface"]["2"].color %>;
  background-color: <%= colors["Surface"]["2"].color %>;
}

.assets-block__inner {
  min-height: 102px;
  padding: <%= responsive.GAP %>px;
  border: 1px solid <%= colors.Border.color %>;
  background-color: <%= colors.Surface.color %>;
}

.assets-block__buffer,
.assets-block {
  padding: <%= responsive.GAP %>px;
}

.assets-block__inner img {
  display: block;
  max-width: 100%;
  height: auto;
}

@supports (display: flex) {
  .assets-block {
    height: 100%;
    box-sizing: border-box;
  }

  .assets-block__inner {
    display: flex;
    height: 100%;
    box-sizing: border-box;
  }

  .assets-block__buffer {
    margin: auto;
  }
}