---
  permalink: css/design-system/color-block.css
---

.color-block {
  padding: <%= responsive.GAP %>px;
  border: 1px solid <%= colors.Border.color %>;
  background-color: <%= colors.Surface.color %>;
}

.color-block__buffer {
  border: 1px solid <%= colors.Border.color %>;
  padding: 16px 24px;
}

.color-block__label {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
}

.color-block__hex {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
}