<!DOCTYPE html>
<html class="no-glide" lang="en">
<head>
  {% if customHeaderParams %}
    {{customHeaderParams | safe}}
  {% endif %}
  <link rel="stylesheet" href="/css/font-face.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/index-store.css">
  {% include 'partials/head-base.njk' %}
  {% include 'partials/initial-script.njk' %}
</head>
<body class="main-page">
  {% include 'partials/header.njk' %}
    {{ content | safe }}
  {% include 'partials/footer.njk' %}
  <script src="/js/utils.js"></script>
  <script src="/js/menu.js"></script>

  {% if customFooterParam %}
    {{customFooterParam | safe}}
  {% endif %}

</body>
</html>