{% extends 'base.njk' %}

{% set customHeaderParams %}
<style>
    
    .glide {
        position: relative;
        width: 100%;
        box-sizing: border-box; 
      }
      .glide * {
        box-sizing: inherit; 
      }
      .glide__track {
        overflow: hidden; 
      }
      .glide__slides {
        position: relative;
        width: 100%;
        list-style: none;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        touch-action: pan-Y;
        overflow: hidden;
        padding: 0;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
        will-change: transform; 
      }
      .glide__slides--dragging {
        user-select: none; 
      }
      .glide__slide {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        white-space: initial;
        user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent; 
      }
      .glide__slide a {
        user-select: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -ms-user-select: none; 
      }
      .glide__arrows {
        -webkit-touch-callout: none;
        user-select: none; 
      }
      .glide__bullets {
        -webkit-touch-callout: none;
        user-select: none; 
      }
      .glide--rtl {
        direction: rtl; 
      }
      /* my */
      .no-glide .glide__slide {
        cursor: default;
      }
      .glide__slide {
        cursor: grab;
      }
      .glide__arrow {
        background: 0;
        border: 0;
        padding: 0;
        padding: 3px;
        cursor: pointer;
        width: 94px;
        height: 30px;
      }

      .glide__arrow--prev {
        margin-right: 5px;
        background-image: url("/img/recently-left.jpg");
      }
      .glide__arrow--next {
        margin-left: 5px;
        background-image: url("/img/recently-right.jpg");
      }

      .svg .glide__arrow--prev {
        background-image: url("/img/recently-left.svg");
      }
      .svg .glide__arrow--next {
        background-image: url("/img/recently-right.svg");
      }

      .glide__arrow:active{
        transform: translateY(2px);
      }

      .glide__controlls{
        text-align: center;
        padding-top: 40px;
      }
     
      .glide__bullets {
        margin: 0 auto;
        padding: 8px 0;
        width: 240px;
      }
      .glide__bullet {
        margin: 0 4px;
        width: 16px;
        height: 16px;
        padding: 0;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid {{colors["On Surface"]["2"].color}};
      }
      .glide__bullet--active {
        background-color: {{colors["On Surface"]["2"].color}};
      }
      .no-glide .glide__slide {
        width: 100%;
      }
      .no-glide .glide__slides {
        display: block;
      }
      .ie .glide__slides,
      .no-glide .glide__slides {
        white-space: normal;
      }

      .glide__slide > div{
          width: auto;
      }

      .glide__slide img{
          width: 100%;
          height: auto;
      }

      @supports (display: flex) {
        .no-glide .glide__slides {
          display: flex;
          overflow-x: scroll;
        }
        .no-glide .glide__slide {
          width: 33.3%;
        }
        @media(max-width: 849px) {
          .no-glide .glide__slide > div {
            width: 50%;
          }
        }
        @media(max-width: 599px) {
          .no-glide .glide__slide > div {
            width: 100%;
          }

          .glide__slide > div{
            width: 100%;
          }

          .glide__controlls{
            padding-top: 7px;
          }
        }
      }
</style>
{% endset %}

{% set customFooterParam %}
<!-- Slider -->
<script src="/js/glide-slider/glide.min.js"></script>
<script src="/js/glide-slider/init.js"></script>
{% endset %}
