<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/font-face.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/style.css">
  {% include 'partials/head-base.njk' %}
  {% include 'partials/initial-script.njk' %}
</head>
<body class="main-page">
{% include 'partials/header.njk' %}

{% article_hero %}
    <div class="spacer spacer-50"></div>
    <h1>{{title}}</h1>
    <p class="breadcrumbs">{{page.url | filterCrubmsShort}} /<span class="orange"> {{catName}}</span></p>
    <div class="spacer spacer-50"></div>
{% endarticle_hero %}

{% include 'partials/cat-info.njk' %}

{% if fact %}
  {% fact fact %}
{% endif %}

{% if galleryImages %}
{% max_width %}
{% gallery galleryImages %}
<div class="spacer spacer-50"></div>
{% end_max_width %}
{% endif %}

{% include 'partials/contact-section.njk' %}

<div class="spacer spacer-50"></div>

<div class="also">
<section>
{% max_width %}
<h2>Siblings are also available</h2>
<div class="responsive-blocks-container">
{%- set lastThree = collections[tags[0]]  | getLast(3) -%}
{%- for post in lastThree -%}
{%- set textDate = post.data.date | filterDate  -%}
{% container "100_50_33_33_33" %}

{%- set alt = post.data.title | append("`s photo") -%}
{% bigCard post.data.heroPhoto, alt, post.data.title, post.data.catInfo.sex, "12/12/2012", post.data.catInfo.breed, post.data.catPrice, post.url %}
{% end_container %}
{%- endfor -%}
</div>
<div class="spacer spacer-50"></div>
<h2>Siblings are also available</h2>
<div class="responsive-blocks-container">
{%- set lastThree = collections.cats  | getLast(3) -%}
{%- for post in lastThree -%}
{%- set textDate = post.data.date | filterDate  -%}
{% container "100_50_33_33_33" %}

{%- set alt = post.data.title | append("`s photo") -%}
{% bigCard post.data.heroPhoto, alt, post.data.title, post.data.catInfo.sex, "12/12/2012", post.data.catInfo.breed, post.data.catPrice, post.url %}
{% end_container %}
{%- endfor -%}
</div>
<div class="spacer spacer-10"></div>
<div class="want-more text-center">
<div class="d-ib buffer">
<a href="/gallery" class="button"><span>More Cats</span></a>
</div>
</div>
<div class="spacer spacer-90"></div>
{% end_max_width %}
</section>
</div>


{% include 'partials/footer.njk' %}
<script src="/js/utils.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/form.js"></script>

</body>
</html>