<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/font-face.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/style.css">
  {% include 'partials/head-base.njk' %}
  {% include 'partials/initial-script.njk' %}
</head>
<body>
  {% include 'partials/header.njk' %}
  <div class="article-hero text-center">
    <section>
        {% max_width %}
            <div class="spacer spacer-50"></div>
            <h1>{{title}}</h1>
            <p class="breadcrumbs">{{page.url | filterCrubmsShort}} /<span class="orange"> {{title}}</span></p>
            <div class="spacer spacer-50"></div>
        {% end_max_width %}
    </section>
  </div>

{% max_width "narrow" %}
<div class="spacer spacer-30 post-spacer-1"></div>
{% buffer %}
<div class="article-image">
  {% picture  heroImage, title %}
</div>

<p class="article-time gray-500-color">
  <time datetime={{date}}>{{date | filterDate}}</time>
</p>

{{ content | safe}}

<div class="spacer spacer-50 post-spacer-2"></div>

<div class="article-footer">
  <div class="spacer spacer-20"></div>
  <div class="article-footer-container responsive-blocks-container align-center">
    <p class="acrticle-footer_tags gray-500-color float-left">
      <span class="bold">Tags:</span>
      {% for tag in tags %}
      {% if loop.last == true %}
      {{tag | capitalize }}
      {% else %}
      {{tag | capitalize }},
      {% endif %}
      {% endfor %}
    </p>
    <div class="ml-auto article-footer_socials align-center responsive-blocks-container float-right">
      <p class="float-left bold gray-500-color">Share This Post:</p>
      <a href="#" class="buffer float-left img-block-inside">
        {% pictureSvgPng "img/icons/post-fb.svg", "", "30", "30" %}
      </a>
      <a href="#" class="buffer float-left img-block-inside">
        {% pictureSvgPng "img/icons/post-inst.svg", "", "30", "30" %}
      </a>
      <a href="#" class="buffer float-left img-block-inside">
        {% pictureSvgPng "img/icons/post-tw.svg", "", "30", "30" %}
      </a>
    </div>
  </div>
  <div class="spacer spacer-20"></div>
</div>

<div class="spacer spacer-50 post-spacer-3"></div>

{% set previousPost = collections[collectionName] | getPreviousCollectionItem(page) %}
{% set nextPost = collections[collectionName] | getNextCollectionItem(page) %}

{% if previousPost or nextPost %}
<h2 class="visually-hidden">Closer posts</h2>
{% endif %}

{% if previousPost or nextPost %}
<div class="post-pagination">
  {% if previousPost and nextPost %}

  <div class="responsive-blocks-container">
    {% container "100_50_50_50_50" %}
    <div class="pagination-card">
      <a href="{{ nextPost.url }}">
        <article>
          <div class="pagination-card__button w-100">
            <p class="text-left">
              {% pictureSvgPng "img/buttons/article-arrow-left.svg", "", "20", "8" %}
              Newer {{footerNames}}
            </p>
          </div>
          <div class="clearfix responsive-blocks-container w-100">
            {% container "50_50_50_50_50" %}
            <div class="pagination-card__image">
              {% picture  nextPost.data.heroImage, nextPost.data.alt %}
            </div>
            {% end_container %}
            {% container "50_50_50_50_50" %}
            <div class="responsive-blocks-container h-100">
              <h3 class="pagination-card__text title bold">{{nextPost.data.title}}</h3>
            </div>
            {% end_container %}
          </div>
        </article>
      </a>
    </div>
    {% end_container %}

    {% container "100_50_50_50_50" %}
    <div class="pagination-card pagination-reversed">
      <a href="{{ previousPost.url }}">
        <article>
          <div class="pagination-card__button w-100">
            <p class="text-right ml-auto">Older {{footerNames}}
              {% pictureSvgPng "img/buttons/article-arrow-right.svg", "", "20", "8" %}
            </p>
          </div>
          <div class="clearfix responsive-blocks-container w-100">
            {% container "50_50_50_50_50" %}
            <div class="responsive-blocks-container h-100">
              <h3 class="text-right pagination-card__text title bold">{{previousPost.data.title}}</h3>
            </div>
            {% end_container %}
            {% container "50_50_50_50_50" %}

            <div class="pagination-card__image">
              {% picture  previousPost.data.heroImage, previousPost.data.alt %}
            </div>
            {% end_container %}
          </div>
        </article>
      </a>
    </div>
    {% end_container %}

  </div>

  {% elif previousPost or nextPost %}

  {% if previousPost %}
  {% set card = previousPost %}
  {% set subtitleText = "Older "  %}
  {% else %}
  {% set card = nextPost %}
  {% set subtitleText = "Newer "%}
  {% endif %}

  <div class="pagination-card">
    <a href="{{card.url}}">
      <article>
        <div class="pagination-card__button w-100">
          <p class="text-left">
            {% pictureSvgPng "img/buttons/article-arrow-left.svg", "", "20", "8" %}
            {{subtitleText | append(footerNames)}}
          </p>
        </div>
        <div class="clearfix responsive-blocks-container w-100">
          {% container "100_33_33_33_33" %}

          <div class="pagination-card__image">
            {% picture  card.data.heroImage, card.data.alt %}
          </div>
          {% end_container %}
          {% container "100_66_66_66_66" %}
          <div class="responsive-blocks-container h-100">
            <h3 class="pagination-card__text title bold">{{card.data.title}}</h3>
          </div>
          {% end_container %}
        </div>
      </article>
    </a>
  </div>

  {% endif %}
  {% endif %}
  </div>
  {% end_buffer %}
  <div class="spacer spacer-20"></div>
{% end_max_width %}

{% max_width %}
<h2 class="text-center">Similar {{footerNames}}</h2>
<div class="responsive-blocks-container">
{%- set lastThree = collections[collectionName] | extrudeCurrentPost(title) | getLast(3) %}
{%- for post in lastThree -%}
{% set textDate = post.data.date | filterDate  %}
{% container "100_50_33_33_33" %}

{% card post.url, post.data.heroImage, post.data.title, post.data.title, post.data.date %}
{% end_container %}
{%- endfor -%}
</div>
<div class="spacer spacer-80"></div>
{% end_max_width %}



  {% include 'partials/footer.njk' %}
  <script src="/js/utils.js"></script>
  <script src="/js/menu.js"></script>

</body>
</html>