<!Doctype html>
<html lang="{{ site.language }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Design-system: {{ title }} for {{ site.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font-face.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/design-system/assets-block.css">
    {% include 'partials/initial-script.njk' %}
  </head>
  <body class="assets design-system">
    {% include 'partials/header-design-system.njk' %}
    <div class="main">
      <main>
        {{ content | safe }}
      </main>
    </div>
    <!-- Header -->
    <script src="/js/utils.js"></script>
    <script src="/js/menu.js"></script>
  </body>
</html>
