<!Doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Design-system: {{ title }} for {{ site.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font-face.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/design-system/color-block.css">
  {% include 'partials/initial-script.njk' %}
  </head>
  <body class="design-system">
  {% include 'partials/header-design-system.njk' %}
  {% max_width %}
    <h1>{{ title }}</h1>
    {% for title, colorsKit in colors %}
      <h2>{{ title }}</h2>
      {% responsive_container %}
        {% for theme, param in colorsKit %}
          {% if(param.color or param.label) %}
            {% container "100_50_33_33_33" %}
              {% buffer %}
                <div class="color-block">
                  <div style="background-color: {{ param.color }}; color: {{ param.label }};">
                    <div class="color-block__buffer">
                      <p class="color-block__label">
                        {{ theme }}
                      </p>
                      <div class="spacer-40"></div>
                      <p class="color-block__hex">
                        {{ param.color }}
                      </p>
                    </div>
                  </div>
                </div>
              {% end_buffer %}
            {% end_container %}
          {% elif theme == 'color' %}
            {% set nextColor = colorsKit[theme] %}
          {% elif theme == 'label' %}
            {% container "100_50_33_33_33" %}
              {% buffer %}
                <div class="color-block">
                  <div style="background-color: {{ nextColor }}; color: {{ colorsKit[theme] }};">
                    <div class="color-block__buffer">
                      <p class="color-block__label">
                        {{ title }}
                      </p>
                      <div class="spacer-40"></div>
                      <p class="color-block__hex">
                        {{ nextColor }}
                      </p>
                    </div>
                  </div>
                </div>
              {% end_buffer %}
            {% end_container %}
          {% endif %}
        {% endfor %}
      {% endresponsive_container %}
      <div class="spacer-16"></div>
    {% endfor %}
  {% end_max_width %}
  <script src="/js/utils.js"></script>
  <script src="/js/menu.js"></script>
  </body>
</html>
