<!Doctype html>
<html lang="{{ site.language }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Design-system: {{ title }} for {{ site.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font-face.css">
    <link rel="stylesheet" href="/css/base.css">

    {% include 'partials/initial-script.njk' %}
  </head>
  <body class="design-system">
    {% include 'partials/header-design-system.njk' %}
    {% max_width %}
        <div class="main">
          <main>
            <section>
              {{ content | safe }}
            </section>
          </main>
        </div>
    {% end_max_width %}
    <script src="/js/utils.js"></script>
    <script src="/js/menu.js"></script>
  </body>
</html>
