<!Doctype html>
<html lang="{{ site.language }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Design-system: {{ title }} for {{ site.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font-face.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/design-system/ui-kit-block.css">
    <style>
        .glide__arrows {
          -webkit-touch-callout: none;
          user-select: none; 
        }
        .glide__arrow {
          display: block;
          background: 0;
          border: 0;
          padding: 0;
          padding: 3px;
          cursor: pointer;
          width: 94px;
          height: 30px;
        }

        .glide__arrow--prev {
          margin-right: 5px;
          background-image: url("/img/recently-left.jpg");
        }
        .glide__arrow--next {
          margin-left: 5px;
          background-image: url("/img/recently-right.jpg");
        }

        .svg .glide__arrow--prev {
          background-image: url("/img/recently-left.svg");
        }
        .svg .glide__arrow--next {
          background-image: url("/img/recently-right.svg");
        }

        .glide__arrow:active,
        .active .glide__arrow{
          transform: translateY(2px);
        }
      </style>
    {% include 'partials/initial-script.njk' %}
  </head>
  <body class="ui-kit design-system">
    {% include 'partials/header-design-system.njk' %}
    {% max_width %}
      <div class="main">
        <main>
          {{ content | safe }}
        </main>
      </div>
    {% end_max_width %}
    <!-- Header -->
    <script src="/js/utils.js"></script>
    <script src="/js/menu.js"></script>
  </body>
</html>
