<div class="article-info">
  <section>
      {% max_width %}
          <div class="spacer spacer-50"></div>
          {% buffer %}
              {% responsive_container %}
                  {% container "100_90_66_66_66", "", "article-info__image mx-auto" %}
                      {% picture "img/article-hero.png", catName %}
                  {% end_container %}
              {% endresponsive_container %}
          {% end_buffer %}
          <div class="spacer spacer-50"></div>
          {% include 'partials/table.njk' %}
          <div class="spacer spacer-50"></div>
          {% include 'partials/price-block.njk' %}
          <div class="spacer spacer-50"></div>
      {% end_max_width %}
  </section>
</div>