<div class="contact-form">
  <form method="POST" name="user-data">
    {% responsive_container %}
      {% container "100_100_50_50_50" %}
        {% buffer %}
          <label class="contact-form__label visually-hidden" for="user-name">
            Enter your first name
          </label>
          <div class="text-field text-field--name">
            <input class="text-field__input" type="text" name="user-name" id="user-name" placeholder="First Name" required>
          </div>    
        {% end_buffer %}
      {% end_container %}
      {% container "100_100_50_50_50" %}
        {% buffer %}
          <label class="contact-form__label visually-hidden" for="user-last-name">
            Enter your last name
          </label>
          <div class="text-field text-field--last-name">
            <input class="text-field__input" type="text" name="user-last-name" id="user-last-name" placeholder="Last Name" required>
          </div>    
        {% end_buffer %}
      {% end_container %}
    {% endresponsive_container %}
    {% responsive_container %}
      {% container "100_100_50_50_50" %}
        {% buffer %}
          <label class="contact-form__label visually-hidden" for="user-subject">
            Enter Subject
          </label>
          <div class="text-field text-field--subject">
            <input class="text-field__input" type="email" name="user-subject" id="user-subject" placeholder="Subject" required>
          </div> 
        {% end_buffer %}
      {% end_container %}
      {% container "100_100_50_50_50" %}
        {% buffer %}
          <label class="contact-form__label visually-hidden" for="user-email">
            Enter your email
          </label>
          <div class="text-field text-field--email">
            <input class="text-field__input" type="email" name="user-email" id="user-email" placeholder="Email Address" required>
          </div> 
        {% end_buffer %}
      {% end_container %}
    {% endresponsive_container %}
    {% buffer %}
      <label class="contact-form__label visually-hidden" for="user-message">
        Enter your message
      </label>
      <div class="text-field text-field--message">
        <textarea class="text-field__input" name="user-message" id="user-message" placeholder="Your comment" required></textarea>
      </div> 
    {% end_buffer %}
    {% buffer "", "text-right" %}
      <button class="button" type="submit"><span>Send Message</span></button>
    {% end_buffer %}
  </form>
  <div class="spacer spacer-48"></div>
</div>