<div class="contact-us">
    <section>
        {% max_width %}
            {% buffer %}
                <div class="contact-us_container">
                    <div class="spacer spacer-30"></div>
                    {% max_width "1000" %}
                    {% responsive_container %}
                        {% container "100_50_50_50_50" %}

                            {% buffer %}
                                <h2>About {{catName}}</h2>
                                <p>{{catDescription}}</p>
                                <div class="spacer spacer-10"></div>
                                {% buffer %}
                                    <button class="button-colored button-colored--green">start chat
                                        {% pictureSvgPng "img/icons/whatsapp.svg", "", "24", "24" %}
                                    </button>
                                {% end_buffer %}
                                {% buffer %}
                                    <button class="button-colored button-colored--blue">start chat
                                        {% pictureSvgPng "img/icons/telegram.svg", "", "24", "24" %}
                                    </button>
                                {% end_buffer %}
                            {% end_buffer %}                  
                        {% end_container %}
                        {% container "100_50_50_50_50" %}

                            {% buffer %}
                                <h2>Contact Us</h2>
                                {% include 'partials/contact-form.njk' %}
                            {% end_buffer %}                       
                        {% end_container %}
                    {% endresponsive_container %}
                    {% end_max_width %}
                    <div class="spacer spacer-30"></div>    
                </div>  
            {% end_buffer %}
        {% end_max_width %}
    </section>
</div>