<section>
<div class="filter">
{% max_width "", "pb-0", "pb-0" %}
<div class="buffer pb-0">
<h2 class="p gray-500-color bold">Filter by {{tagName | filterTag}}</h2>
<div class="responsive-blocks-container">
{%- for tag in collections.tagList -%}
{% assign tagUrl = "/gallery/"| append: tag[0] | append: "/" %}
<a class="filter-link float-left" href="/gallery/{{tag[0]}}/">{{tag[0] | filterTag}}</a>
{%- endfor -%}
</div>
</div>
{% end_max_width %}
</div>
</section>