<div class="footer">
	<div class="spacer spacer-30"></div>
	<footer>
		{% max_width %}
		<div class="responsive-blocks-container">
			{% container "100_50_25_25_25", "",  "footer__column" %}
				<h2 class="footer__heading">About Us</h2>
				<p>There are many variations of pasesgerterrt of Lorem Ipsum available, but the majori have suffered.</p>
			{% end_container %}
			{% container "100_50_25_25_25", "",  "footer__column" %}
				<h2 class="footer__heading">Information</h2>
				<ul>
					<li><p><a class="footer__link" href="#">Cat toilet</a></p></li>
					<li><p><a class="footer__link" href="#">Cat canteen</a></p></li>
					<li><p><a class="footer__link" href="#">Hygiene</a></p></li>
					<li><p><a class="footer__link" href="#">Regular care</a></p></li>
					<li><p><a class="footer__link" href="#">Toys for cats</a></p></li>
				</ul>
			{% end_container %}
			{% container "100_50_25_25_25", "",  "footer__column" %}
				<h2 class="footer__heading">Our Policy</h2>
				<ul>
					<li><p><a class="footer__link" href="#">Cats’ diseases</a></p></li>
					<li><p><a class="footer__link" href="#">Questions to the veterinarian</a></p></li>
					<li><p><a class="footer__link" href="#">Veterinary clinics</a></p></li>
					<li><p><a class="footer__link" href="#">Veterinary medicines</a></p></li>
				</ul>
			{% end_container %}
			{% container "100_50_25_25_25", "",  "footer__column" %}
				<h2 class="footer__heading">Get In Touch</h2>
				<ul>
					<li><p>Address: <a class="footer__link" href="#">Honey Business 24 Fifth st., Los Angeles, USA</a></p></li>
					<li><p>Email : <a class="footer__link" href="mailto:info@example.com">info@example.com</a></p></li>
					<li><p>Call us : <a class="footer__link" href="tel:+011234567890">(+01) 123 456 7890</a></p></li>
					<li><p>Fax : 0123-456-7890</p></li>
				</ul>
			{% end_container %}
			
		</div>
		<div class="spacer spacer-30"></div>
		<div class="footer-separator"></div>
		<div class="spacer spacer-30"></div>
		<div class="responsive-blocks-container justify-between footer__bottom">
			<p class="copyright float-left">
				Copyright © 2021 CatsOfUkraine All rights reserved.
			</p>
			<ul class="footer__social-links social-links float-right">
				<li class="social-links__item">
					<a class="social-links__link" target="_blank" rel="noopener"
						href="#" aria-label="Contact us at instagram">
						{% pictureSvgPng "img/icons/inst.svg", "Our instagram account", "32", "32" %}
					</a>
				</li>
				<li class="social-links__item">
					<a class="social-links__link" target="_blank" rel="noopener"
						href="#" aria-label="Contact us at facebook">
						{% pictureSvgPng "img/icons/fb.svg", "Our facebook account", "32", "32" %}
					</a>
				</li>
			</ul>
		</div>
		{% end_max_width %}
	</footer>
	<div class="spacer spacer-30"></div>
</div>