<div class="header">
	<header>
    {% max_width "", "header__container" %}
			<div class="header__logo logo" role="banner">
        <a href="/">
          {% set alt = site.name + " logo" %}
          {% imagePngSelfSize "img/logo.png", alt,"100vw", "150", "46" %}
        </a>
			</div>
			<div class="header__main-menu-burger burger">
      </div>
			<div class="header__main-menu-container" id="main-menu-container">
        <nav aria-label="{{ site.name }} main menu">
          <div class="main-menu__button-container">
          </div>
          <ul class="main-menu" role="menubar" aria-label="{{ site.name }} main menu">
            {% for link, href in menu_design_system.links %}
              <li class="main-menu__item" role="none">
                  <a class='main-menu__link
                  {% if href == page.url %} main-menu__link--current {% endif %}
                  {% if href == "/" and page.url == "/" %} main-menu__link--current {% endif %}'
                  {% if(href == page.url) %} aria-current="page" {% endif %}
                  href="{{ href }}" role="menuitem">{{ link }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
			</div>
			<ul class="header__social-links social-links"> <!-- FIXME nameing maybe container? -->
        <li class="social-links__item">
            <a class="social-links__link" target="_blank" rel="noopener"
              href="#" aria-label="Contact us at facebook">
              {% pictureSvgPng "img/icons/fb.svg", "Our facebook account", "32", "32" %}
            </a>
          </li>
          <li class="social-links__item">
            <a class="social-links__link" target="_blank" rel="noopener"
              href="#" aria-label="Contact us at instagram">
              {% pictureSvgPng "img/icons/inst.svg", "Our instagram account", "32", "32" %}
            </a>
          </li>
			</ul>
    {% end_max_width %}
	</header>
</div>