<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{title}}: {{ description }}">
<title>{{ title }}</title>

<!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/ie8-fix.css">
<![endif]-->

<!--[if lte IE 7]>
    <link rel="stylesheet" href="/css/ie7-fix.css">
<![endif]-->

<!--[if IE 5]>
    <link rel="stylesheet" href="/css/ie5-fix.css">
<![endif]-->

