{% max_width "400" %}
    {% responsive_container %}
        {% container "100_50_50_50_50" %}
            <p class="text-center gray-500-color"><span class="red price-block_price">£{{catPrice}}</span> <br>
            Transfer is not included</p>
        {% end_container %}
        {% container "100_50_50_50_50" %}
            {% responsive_container %}
                {% buffer "", "h-100 price-button-wrapper" %}
                    <button class="button my-auto w-100 mx-auto"><span>Find Out More</span></button>
                {% end_buffer %}
            {% endresponsive_container %}
        {% end_container %}
    {% endresponsive_container %}
    <div class="spacer spacer-50"></div>
{% end_max_width %}