{% max_width "1000" %}
    {% responsive_container %}
        {% container "100_50_50_50_50" %}
            {% buffer %}
                <table>
                    <tr>
                        <th colspan="2"><p class="title bold">About the kitten</p></th>
                    </tr>
                    {% for line in catInfo %}
                    {{ line[0] | log }}
                    {{ line[1] | log }}
                    <tr>
                        <td><p class="title bold">{{ line[0] | filterKey }}</p></td>
                        <td><p class="gray-500-color">{{ line[1] }}</p></td>
                    </tr>
                    {% endfor %}
                </table>
            {% end_buffer %}
        {% end_container %}
        {% container "100_50_50_50_50" %}
            {% buffer %}
                <table>
                    <tr>
                        <th colspan="2"><p class="title bold">Terms and Conditions</p></th>
                    </tr>
                    {% for line in catTerms %}
                    <tr>
                        <td><p class="title bold">{{ line[0] | filterKey }}</p></td>
                        <td><p class="gray-500-color">{{ line[1] }}</p></td>
                    </tr>
                    {% endfor %}
                </table>
            {% end_buffer %}
        {% end_container %}
    {% endresponsive_container %}
{% end_max_width %}